Gemfile.lock
INSTALL
NEWS
Makefile
Makefile.in
README
ac
aclocal.m4
autom4te.cache
confdefs.h
config.log
config.status
configure
deps/
fluent-cat
fluent-gem
fluentd
pkg/*
test/tmp/*
test/config/tmp/*
make_dist.sh
Gemfile.local
.ruby-version
*.swp
coverage/*
.vagrant/
cov-int/
cov-fluentd.tar.gz