name: Backport Pull Requests

on:
  schedule:
    # Sun 10:00 (JST)
    - cron: '0 1 * * 0'
  workflow_dispatch:

permissions: read-all

concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.4']
        task: ['backport:v1_16', 'backport:v1_19']

    name: Backport PR ( ${{ matrix.task }} )
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@8a836efbcebe5de0fe86b48a775b7a31b5c70c93 # v1.277.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run backport task ( ${{ matrix.task }} )
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bundle exec rake ${{ matrix.task }}
