name: RucoCop Security & Performance Check

on:
  push:
    paths-ignore:
      - '*.md'
      - 'lib/fluent/version.rb'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'lib/fluent/version.rb'
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:
  rubocop:
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.4']
    name: Ruby ${{ matrix.ruby-version }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          bundle install
          gem install rubocop-performance
      - name: Run RuboCop
        run: rubocop
