name: Test

on:
  push:
    branches: [v1.16]
    paths-ignore:
      - '*.md'
      - 'lib/fluent/version.rb'
  pull_request:
    branches: [v1.16]
    paths-ignore:
      - '*.md'
      - 'lib/fluent/version.rb'

concurrency:
  group: ${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        ruby-version: ['4.0.0-preview2', '3.4', '3.3', '3.2', '3.1', '3.0', '2.7']
        exclude:
          # 4.0.0-preview2 is not provided for Windows.
          - os: windows-latest
            ruby-version: '4.0.0-preview2'
    name: Ruby ${{ matrix.ruby-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          rubygems: latest
      - name: Install addons
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt-get install libgmp3-dev libcap-ng-dev
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rake test TESTOPTS="-v --report-slow-tests --no-show-detail-immediately"

  test-windows-service:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.4', '3.3', '3.2', '3.1', '3.0', '2.7']
    name: Windows service (Ruby ${{ matrix.ruby-version }})
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: |
          bundle install
          rake install
      - name: Run tests
        run: test\scripts\windows_service_test.ps1
